body {
  background-color: #eee;
}

.App {
  text-align: center;
}

.nav-button {
  padding: 1rem;
  border-radius: 1rem;
  margin: 0 1rem;
  border: 1px solid rgb(29, 29, 29);
  background-color: #eee;
  transition-duration: 0.5s
}

.nav-button:hover {
  background-color: #e0e26f;
  border-color: #e0e26f;
}

.nav-button:active {
  background-color: #cfd164;
  border-color: #cfd164;
}
